*.log
*.pyc
*.swp
*.swo
*.xml
*.dump

utils/*.json
TODO

.DS_Store
.vagrant

nosetests.xml
cover/
.coverage
instrumental.xml
instrumental/
.noseids

build/
/static/*

.env*
venv
envs/
.cache/

dump.rdb

*codekit*
*.box
.ropeproject
.idea
.ctrlp

test.py
test_file.html

*.egg-info/

backups/
